<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
      }
      .logo {
        background-position: center;
        background-size: cover;
        width: 59vh;
        height: 55vh;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <div>
      <img
        class="logo"
        src="<%= data.env.BACKEND_LIVE || 'https://carbon-emissions-pnz7.onrender.com' %>/logo/logo.png"
        alt="Logo"
      />
    </div>
    <h2>Your Carbon Footprint :</h2>

    <table>
      <tr>
        <th>Production</th>
        <td><%= data.totlaProduction %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Air Freight</th>
        <td><%= data.totalAirFreight %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Food</th>
        <td><%= data.totalFood %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Energy Updated</th>
        <td><%= data.totalEnergyUpdated %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Travel</th>
        <td><%= data.totlaTravel %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Digital Content</th>
        <td><%= data.totalDIgitalContent %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Local Transportation</th>
        <td><%= data.totalLocalTransportation %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Accomodation</th>
        <td><%= data.totalAccomodation %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th>Waste</th>
        <td><%= data.totalWaste %> tons of kgCO2e</td>
      </tr>
      <tr>
        <th style="text-align: end">Total</th>
        <th><%= data.grandTotal %> tons of kgCO2e</th>
      </tr>
    </table>
    <footer>
      <hr />
      <b> created : </b> <%= data.created %>
    </footer>
  </body>
</html>
